.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/challenges.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/related-1.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/related-2.jpg);
}
.carousel-item {
  height: 700px;
}
